.login-form
  .clearfix.margin-bottom-2
    input.bordered-input(type="text")
  .clearfix.margin-bottom-2
    input.bordered-input(type="password")
  .clearfix.margin-top-2
    a.button-blue(v-on:click="attempt") login
